<div id="flash-message"
     class="fixed top-10 left-1/2 -translate-x-1/2 z-[100] transform transition-all duration-500 scale-0 opacity-0 bg-red-600 text-white px-8 py-3 rounded-full shadow-2xl font-bold border-2 border-red-400 pointer-events-none">
  <span id="flash-text"></span>
</div>