<div class="flex flex-col items-center justify-center h-screen w-full bg-stone-300 p-2 md:p-4 select-none overflow-hidden"
     data-controller="game"
     data-game-id="<%= @game.id %>">

  <h1 class="text-xl md:text-3xl font-black text-slate-800 mb-2 md:mb-4 tracking-tighter uppercase shrink-0">
    Backgammon <span class="text-amber-600">Long</span>
  </h1>
<%# Calling a dynamic block %>
  <div class="flex-1 w-full min-h-0 flex items-center justify-center">
  <%= render "game_board", game: @game %>
  </div>

  <div class="mt-4 md:mt-8 opacity-50 hover:opacity-100 transition-opacity shrink-0">
    <%= button_to "Reset match", reset_game_path(@game),
                  method: :post,
                  onclick: "return confirm('Are you sure you want to start the game again?');",
                  class: "text-slate-500 hover:text-red-600 text-[10px] md:text-sm font-medium underline underline-offset-4 decoration-dotted cursor-pointer" %>
  </div>
</div>